.product-page {

  .products-wrapper {

    > article {
      margin-left: auto;
      margin-right: auto;
      @include responsive-padding-bottom(40px);
      @include responsive-padding-top(40px);
      padding-left: 20vw;
      padding-right: 20vw;

      &:nth-child(even) {
        @include default-linear-gradiend;
      }

      // mobile
      @include media-breakpoint-down(sm) {
        padding-left: 15px;
        padding-right: 15px;
      }

      .category {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &-title {
          @include responsive-margin-bottom(50px);

          .icon-wheat {
            margin-bottom: -5px;
          }

          .icon-bio {
            vertical-align: baseline;
          }

          [class^="icon-"], [class*=" icon-"] {
            display: inline-block;

            // mobile
            @include media-breakpoint-down(sm) {
              margin-bottom: 5px;
              vertical-align: middle;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
          }

          // mobile
          @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
          }
        }

        .product {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;

          // desktop
          @include media-breakpoint-up(xl) {
            .product__image,
            .product__name {
              @include default-transition;
            }

            .product__name {
              position: relative;

              &:before {
                @include default-transition;
                content: '';
                position: absolute;
                bottom: -2px;
                height: 1px;
                left: 0;
                right: 0;
                width: 0%;
                margin-left: auto;
                margin-right: auto;
                background-color: $brand-primary;
              }
            }

            &:hover {
              .product__image {
                transform: rotate(2deg) translateY(-2%) scale(1.05);
              }

              .product__name {
                transform: translateY(2px);
                color: $brand-primary;

                &:before {
                  width: 100%;
                }
              }
            }
          }

          &.column {
            flex-direction: column;
          }

          &.column-reverse {
            flex-direction: column-reverse;
          }

          &.full-width {
            flex: 0 0 100%;
            max-width: 100%;
          }

          &__image {
            height: auto;

            &.small {
              @include fluid-up-to-4k('width', 172px);
            }

            &.medium {
              @include fluid-up-to-4k('width', 220px);
            }

            &.large {
              @include fluid-up-to-4k('width', 342px);
            }

            // mobile
            @include media-breakpoint-down(sm) {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}