<div class="row">
    <form action="#" name='loginForm' ng-submit="formSubmit($event)" class="col-12 col-md-6">
        <h2>Login</h2>
        <div class="form-group">
            <label class="form-control-label" for="name" title="Name">Name:</label>
            <input type="text" id="name" ng-model="fields.name" class="form-control" title="Name" required>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="email" title="E-mail">E-mail:</label>
            <input type="email" id="email" ng-model="fields.email" name="email" class="form-control" title="E-mail" required>

            <div role="alert">
                <span class="alert-danger" ng-show="loginForm.email.$error.email">Not valid email!</span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="address" title="Address">Address:</label>
            <input type="text" id="address" ng-model="fields.address" class="form-control" title="Address" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-block btn-primary" title="Submit">Submit</button>
        </div>

        <div role="alert">
            <span class="alert-danger" ng-show="ngMaxlength">The fields must contains less then 30 characters.</span>
        </div>
    </form>

    <div class="col-12 col-md-6">
        <h2>JSON</h2>
        <p>
            {{response}}
        </p>
    </div>
</div>