.header {
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  right: 0;
  background-color: map-get($colors, white);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  @include fluid-up-to-4k('min-height', 55px);
  @include fluid-up-to-4k('top', 60px);

  // mobile
  @include media-breakpoint-down(sm) {
    top: 160px;
    left: 0;
    right: 0;
  }

  /* Header Logo */
  &__logo {
    display: flex;
    flex: 0 0 15%;
    max-width: 15%;

    // tablet vertical
    @include media-breakpoint-only(md) {
      flex: 0 0 25%;
      max-width: 25%;
    }

    // mobile
    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
      position: absolute;
      top: -150px;
    }

    img {
      @include fluid-up-to-4k('top', -45px);
      position: absolute;

      @include fluid-up-to-4k('width', 136px);
      @include fluid-up-to-4k('height', 132px);

      // desktop
      @include media-breakpoint-up(xl) {
        @include default-transition;

        &:hover,
        &:focus {
          transform: rotate(-5deg)
        }
      }

      // mobile
      @include media-breakpoint-down(sm) {
        position: relative;
        top: 0;
      }
    }
  }

  /* Header Menu List */
  &__menu {
    display: flex;
    flex: 0 0 60%;
    max-width: 60%;

    // tablet vertical
    @include media-breakpoint-only(md) {
      flex: 0 0 70%;
      max-width: 70%;
    }

    // mobile
    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    ul {
      @extend .unordered-list--underline;

      // mobile
      @include media-breakpoint-down(sm) {
        @include default-transition;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        background: white;
        border-top: 1px solid green;
        max-width: 400px;
        width: 100%;
        padding: 0;
        max-height: 0px;
        pointer-events: none;
        visibility: hidden;
        overflow: hidden;

        li {
          @include default-transition;
          width: 100%;
          text-align: center;
          line-height: 2;
          transform: translateY(-20px);
          opacity: 0;
        }

        &.is-active {
          padding: 10px 0;
          pointer-events: all;
          visibility: visible;
          max-height: 200px;

          li {
            transform: translateY(0px);
            opacity: 1;
          }
        }
      }
    }
  }

  /* Hamburger Menu */
  &__toggler {

    // desktop
    @include media-breakpoint-up(md) {
      display: none;
    }

    -webkit-tap-highlight-color: rgba($brand-primary, .5);
    cursor: pointer;
    padding: 0;
    margin: 0 auto;
    text-transform: uppercase;
    color: $text-color;
    font-size: $default-font-size + 5;
  }
}